# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # Change this based on your project
    directories:
      - "/web/bible-on-site" # Location of package manifests
      - "/web/api/tests"
      - "/devops"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    versioning-strategy: auto
    allow:
      - dependency-type: "direct"
      - dependency-type: "indirect"
    ignore:
      # See https://github.com/bible-on-site/bible-on-site/issues/528
      - dependency-name: "swc-plugin-coverage-instrument"
      # See https://github.com/bible-on-site/bible-on-site/issues/985
      - dependency-name: "node"
        versions: [">=24.12.0"]
    labels:
      - "dependencies"
      - "automerge"
    groups:
      npm-development:
        dependency-type: development
        update-types:
          - patch
      npm-production:
        dependency-type: production
        update-types:
          - patch

  # You can add more entries for different package ecosystems
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-minor:
        update-types:
          - minor
          - patch
