repos:
  - repo: "https://github.com/mxr/sync-pre-commit-deps"
    rev: v0.0.3
    hooks:
      - id: sync-pre-commit-deps
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^docs/aws/cloudformation/
      - id: check-ast
      - id: check-added-large-files
        exclude: ^data/mysql/.*_data\.sql$
      - id: check-xml
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: "https://github.com/doradsoft/json5-pre-commit-hook"
    rev: v1.0.3
    hooks:
      - id: check-json5
  - repo: "https://github.com/rhysd/actionlint"
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: md-dead-link-check
        name: md-dead-link-check
        entry: python devops/md-dead-link-check-wrapper.py
        language: python
        types: [markdown]
        additional_dependencies: ["md-dead-link-check==1.2.0"]
