.seferOverlay {
  position: absolute;
  z-index: 7;
  top: 72px;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: white;
  transition: opacity 300ms;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
