.hamburgerMenu .menuToggle {
  @apply hidden;
}

.hamburgerMenu .menuToggle:checked + .menuBtn {
  @apply opacity-0;
  transition: opacity 0.15s linear;
}

.hamburgerMenu .menuToggle:not(:checked) + .menuBtn {
  @apply opacity-100;
  transition: opacity 0.15s linear;
}

.hamburgerMenu .menuToggle:checked ~ .overlay {
  @apply opacity-30 z-10;
  transition: opacity 0.25s ease-in-out;
}

.hamburgerMenu .menuToggle:checked ~ .menuBox {
  @apply right-0 z-20;
  transition: right 0.25s ease-in-out;
}

.hamburgerMenu .menuToggle:not(:checked) ~ .overlay {
  @apply opacity-0 z-0;
}

.menuBtn {
  @apply fixed top-5 right-5 w-8 h-10 cursor-pointer z-10 bg-transparent border-0;
  @apply transition-opacity duration-150 ease-linear;
}

.menuBtn:hover {
  @apply opacity-70;
}

.menuBtn:focus {
  @apply outline-none;
}

.menuIcon,
.menuIcon::before,
.menuIcon::after {
  @apply block absolute w-full h-1 bg-white;
}

.menuIcon::before {
  content: "";
  @apply -top-2.5;
}

.menuIcon::after {
  content: "";
  @apply top-2.5;
}

.overlay {
  @apply fixed inset-0 bg-black opacity-0 transition duration-200 cursor-pointer;
}

.menuBox {
  @apply block fixed top-0 right-[-100%] w-[300px] h-full m-0 p-2 list-none bg-white shadow-md transition duration-1000 z-10;
}
.menuItem {
  @apply flex flex-wrap w-full;
}

.menuItem > * {
  @apply block;
  @apply mb-2;
}

.menuItem * {
  @apply mr-2;
}
.menuItem ul {
  @apply contents;
}
