[config]
skip_core_tasks = true
default_to_workspace = false

[env]

# TODO: support better binaries locating on windows (maybe make it configurable outside this file).
NPM_BIN = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "npm", mapping = { "windows" = "C:\\Program Files\\nodejs\\npm.cmd" } }
BASH_BIN = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "bash", mapping = { "windows" = "C:\\Program Files\\Git\\bin\\bash.exe" } }

HOST = "127.0.0.1"
PORT = 3003
BUMP_VERSION_SCRIPT_PATH = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "/devops/bump_version.sh", mapping = { "windows" = "\\devops\\bump_version.sh" } }

[tasks.run-api]
env = { PROFILE = "dev" }
command = "cargo"
args = ["run"]

[tasks.run-api-dev]
env_files = [".dev.env"]
env = { PROFILE = "dev" }
command = "cargo"
args = ["run"]

[tasks.run-api-test]
env = { PROFILE = "test" }
command = "cargo"
args = ["run"]

[tasks.populate-dev-db]
env_files = [".dev.env"]
cwd = "../../data"
command = "cargo"
args = ["make", "mysql-populate"]

[tasks.populate-test-db]
env_files = [".test.env"]
cwd = "../../data"
command = "cargo"
args = ["make", "mysql-populate"]

[tasks.dev]
dependencies = ["populate-dev-db", "run-api-dev"]

[tasks.test]
env_files = [".test.env"]
dependencies = ["populate-test-db", "test-all"]

[tasks.lint]
command = "cargo"
# TODO: add , "--", "-D", "warnings" to the args to make it more strict once all warnings are fixed
args = ["clippy"]

[tasks.clean]
command = "cargo"
args = ["clean", "-p", "${CARGO_MAKE_CRATE_NAME}", "-p", "entities"]

[tasks.coverage-run-base]
env = { PROFILE = "test" }
command = "cargo"
args = ["llvm-cov", "run", "--profile", "dev", "--no-report"]

[tasks.coverage-e2e-dir-create]
command = "mkdir"
args = ["-p", ".coverage/e2e"]

[tasks.coverage-unit-dir-create]
command = "mkdir"
args = ["-p", ".coverage/unit"]

[tasks.coverage-merged-dir-create]
command = "mkdir"
args = ["-p", ".coverage/merged"]

[tasks.coverage-report-lcov]
dependencies = ["coverage-e2e-dir-create"]
command = "cargo"
args = [
  "llvm-cov",
  "report",
  "--profile",
  "dev",
  "--lcov",
  "--output-path",
  ".coverage/e2e/lcov.info",
]

[tasks.coverage-report-browser]
condition = { env_not_set = [
  "CI",
] } # better place the condition in tasks.test-coverage, but I couldn't find a way to do it
command = "cargo"
args = ["llvm-cov", "report", "--profile", "dev", "--open"]

[tasks.run-for-coverage]
dependencies = [
  "clean",
  "coverage-run-base",       # this task is terminated using a signal called from the test task
  "coverage-report-lcov",
  "coverage-report-browser",
]

[tasks.run-for-tests]
env = { PROFILE = "test" }
command = "cargo"
args = ["run", "--profile", "dev"]


[tasks.test-e2e]
command = "${NPM_BIN}"
args = ["run", "--prefix", "tests", "test:e2e"]

[tasks.test-unit]
command = "cargo"
args = ["test"]

[tasks.test-all]
dependencies = ["test-unit", "test-e2e"]

[tasks.coverage-unit-lcov]
dependencies = ["coverage-unit-dir-create"]
command = "cargo"
args = [
  "llvm-cov",
  "test",
  "--lcov",
  "--output-path",
  ".coverage/unit/lcov.info",
]

[tasks.coverage-unit-junit]
command = "cargo"
args = ["nextest", "run", "--profile", "ci"]

# TODO: run unit tests only once and report both lcov and junit. There should be some good alternative. Worse alternative: once cargo2junit supports output path configuration, add it here to output to .junit-report/unit/
[tasks.coverage-unit]
dependencies = ["coverage-unit-lcov", "coverage-unit-junit"]

[tasks.coverage-e2e]
command = "${NPM_BIN}"
args = ["run", "--prefix", "tests", "coverage:e2e"]

[tasks.coverage-merge]
command = "docker"
dependencies = ["coverage-merged-dir-create"]
args = [
  "run",
  "--rm",
  "-t",
  "-v",
  "${CARGO_MAKE_WORKING_DIRECTORY}/.coverage:/.coverage",
  "lcov-cli:0.0.2",
  "--rc",
  "branch_coverage=1",
  "-a",
  "/.coverage/unit/lcov.info",
  "-a",
  "/.coverage/e2e/lcov.info",
  "-o",
  "/.coverage/merged/lcov.info",
]

[tasks.coverage-all]
dependencies = ["coverage-unit", "coverage-e2e", "coverage-merge"]

[tasks.bump-patch-version]
command = "cargo"
args = ["release", "patch", "--no-publish", "--execute"]

[tasks.package]
command = "docker"
args = [
  "build",
  "-t",
  "${CARGO_MAKE_CRATE_NAME}:${CARGO_MAKE_CRATE_VERSION}",
  ".",
]

[tasks.version]
command = "echo"
args = ["${CARGO_MAKE_CRATE_VERSION}"]

[tasks.bump-version]
command = "${BASH_BIN}"
args = [
  "${CARGO_MAKE_WORKING_DIRECTORY}${BUMP_VERSION_SCRIPT_PATH}",
  "-v",
  "${CARGO_MAKE_CRATE_VERSION}",
]
