- var blocks = 16;
- var title = ["The Color Chucknorris", "The Phisherman and His Wife", "The Little Browser Engine That Couldn’t", "The DOM-Tree", "Sliding Into Auto-DMs", "Copying and Pasting from Stack Overflow","WordPress Updates Breaking Stuff","Waiting for Internet Explorer to Die","Copypaste Customer Support","Catchy Clickbait Titles and Buzzwords","Spamming with Scrapebox"];
- var bookStart = 6;
- var dummyText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";

mixin bookTitle(t)
  - if (t >= bookStart && t < bookStart + title.length) {
    .spine=title[t - bookStart]
  - }

mixin divBlock(d)
  div(class="block b" + d)
    .block-inner
      .back
      .bottom
      .front
      .left
      .right
      .top

mixin labelBlock(l)
  - var bookId = l - bookStart;
  label(for="book" + (bookId + 1),class="block b" + l)
    .block-inner
      .back
      .bottom
      .front
        +bookTitle(l)
      .left
      .right(data-title=title[bookId])
        .cover
        .contents
          h1="Chapter 1"
          p=dummyText
      .top

form.container
  - for (var r = 1; r <= title.length; ++r) {
    input(type="radio",name="title",id="book" + r)
  - }
  .surface
    - for (var b = 1;b <= blocks;++b) {
      - if (b >= bookStart && b < bookStart + title.length) {
        +labelBlock(b)
      - }
      - else {
        +divBlock(b)
      - }
    - }
  input(type="reset",value="Return")