name: Shared Release Flow
on:
  workflow_call:
    inputs:
      module_directory:
        description: The directory of the module to release. Should be either 'web/bible-on-site' or 'web/api'.
        required: true
        type: string
      module_version:
        description: The version of the module.
        required: true
        type: string
      docker_artifact_name:
        description: The name of the Docker artifact.
        required: true
        type: string
    secrets:
      DEPLOY_KEY:
        required: true
      BOT_PAT:
        required: true

permissions:
  contents: write
env:
  IS_NPM: ${{ inputs.module_directory == 'web/bible-on-site' }}
  IS_CARGO: ${{ inputs.module_directory == 'web/api' }}
  MODULE_NAME: ${{ inputs.module_directory == 'web/bible-on-site' && 'website' || 'api' }}
  MODULE_NAME_CAPITALIZED: ${{ inputs.module_directory == 'web/bible-on-site' && 'Website' || 'API' }}
  DOCKER_IMAGE_NAME: ${{ inputs.module_directory == 'web/bible-on-site' && 'bible-on-site' || 'bible-on-site-api' }}
  DOCKER_IMAGE_OUTPUT_DIR: ${{ inputs.module_directory }}/.release

jobs:
  trigger_cd:
    name: Trigger CD Workflow
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@v3
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.BOT_PAT }} # Might be able to use the default GITHUB_TOKEN, but using a PAT as I don't have time to test it right now.
          event-type: deploy
          client-payload: '{"ref": "${{ github.ref }}", "module_directory": "${{ inputs.module_directory }}", "module_name": "${{ env.MODULE_NAME }}", "module_version": "${{ inputs.module_version }}", "ci_run_id": "${{ github.run_id }}", "docker_artifact_name": "${{ inputs.docker_artifact_name }}"}'

  setup_env:
    name: Setup Environment Variables
    runs-on: ubuntu-latest
    outputs:
      MODULE_NAME: ${{ env.MODULE_NAME }} # a workaround for places where only needs.<job_id>.<output> is allowed
    steps:
      - run: echo "Setting up environment variables"

  release:
    needs: setup_env
    name: Release
    # Ensures only one release job runs at a time for this repository.
    # This prevents potential race conditions which has been proven to occur.
    #
    # It acts as a safeguard against:
    # - Multiple triggers if the merge queue (despite squash settings) pushes multiple commits rapidly.
    #   TODO: Investigate the root cause of multiple triggers from the merge queue.
    # - Collisions from manual workflow runs or other concurrent triggers.
    concurrency:
      group: ${{ github.repository }}-release-${{ needs.setup_env.outputs.MODULE_NAME }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        if: ${{ env.IS_NPM == 'true' }}
        uses: actions/setup-node@v6
        with:
          node-version-file: ${{ inputs.MODULE_DIRECTORY }}/package.json
          cache-dependency-path: ${{ inputs.MODULE_DIRECTORY }}/package-lock.json
          cache: npm

      - name: Install NPM Dependencies
        if: ${{ env.IS_NPM == 'true' }}
        working-directory: ${{ inputs.module_directory }}
        id: npm_ci
        run: |
          npm ci --no-audit

      - name: Setup Rust
        if: ${{ env.IS_CARGO == 'true' }}
        uses: dtolnay/rust-toolchain@stable

      - uses: taiki-e/install-action@v2
        if: ${{ env.IS_CARGO == 'true' }}
        with:
          tool: cargo-make, tomato-toml, semver-bump

      - name: Cache Cargo dependencies
        if: ${{ env.IS_CARGO == 'true' }}
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ inputs.module_directory }}

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Create Tag
        id: create_tag
        run: |
          TAG_NAME=$(echo "${{ env.MODULE_NAME }}-v${{ inputs.module_version }}")
          git tag -a "$TAG_NAME" -m "Release $TAG_NAME"
          echo "TAG_NAME=${TAG_NAME}" >> $GITHUB_OUTPUT

      - name: Add Deploy Key
        uses: webfactory/ssh-agent@72c0bfd31ab22a2e11716951e3f107a9647dc97e
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Push Tag
        run: |
          git remote set-url origin git@github.com:${{ github.repository }}
          git push origin ${{ steps.create_tag.outputs.TAG_NAME }}

      - name: Prepare Docker Restore
        id: prepare_docker_restore
        run: |
          mkdir -p ${{ env.DOCKER_IMAGE_OUTPUT_DIR }}
          DOCKER_IMAGE_TAR_NAME="${{ env.DOCKER_IMAGE_NAME }}-v${{ inputs.module_version }}.tar"
          DOCKER_IMAGE_TAR_PATH="${{ env.DOCKER_IMAGE_OUTPUT_DIR }}/${DOCKER_IMAGE_TAR_NAME}"
          DOCKER_IMAGE_TAR_GZ_PATH="${DOCKER_IMAGE_TAR_PATH}.gz"
          echo "DOCKER_IMAGE_TAR_GZ_PATH=${DOCKER_IMAGE_TAR_GZ_PATH}" >> $GITHUB_OUTPUT

      - name: Restore Docker Image
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.docker_artifact_name }}
          path: ${{ env.DOCKER_IMAGE_OUTPUT_DIR }}

      - name: Create GitHub Release and Upload ${{ env.MODULE_NAME_CAPITALIZED }} Image
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.create_tag.outputs.TAG_NAME }}
          name: Release ${{ env.MODULE_NAME_CAPITALIZED }} v${{ inputs.module_version }}
          body: |
            Automated release for ${{ env.MODULE_NAME_CAPITALIZED }} version ${{ inputs.module_version }}.
          token: ${{ secrets.GITHUB_TOKEN }}
          files: ${{ steps.prepare_docker_restore.outputs.DOCKER_IMAGE_TAR_GZ_PATH }}

      - name: Bump ${{ env.MODULE_NAME_CAPITALIZED }} Version
        working-directory: ${{ inputs.module_directory }}
        run: |
          if [ "${{ env.IS_NPM }}" = "true" ]; then
            npm version patch --no-git-tag-version
          elif [ "${{ env.IS_CARGO }}" = "true" ]; then
            cargo make bump-version
          fi

      - name: Commit ${{ env.MODULE_NAME_CAPITALIZED }} Version Bump Changes
        working-directory: ${{ inputs.module_directory }}
        run: |
          if [ "${{ env.IS_NPM }}" = "true" ]; then
            FILES_TO_ADD="package.json package-lock.json"
            NEXT_MODULE_VERSION=$(node -e "const pkg = require('./package.json'); console.log(pkg.version)")
          elif [ "${{ env.IS_CARGO }}" = "true" ]; then
            FILES_TO_ADD="Cargo.toml Cargo.lock"
            NEXT_MODULE_VERSION=$(cargo make version | grep -v 'INFO')
          fi
          git add $FILES_TO_ADD
          git commit -n -m "chore(release): Bump ${{ env.MODULE_NAME }} version to ${NEXT_MODULE_VERSION} [skip ci]"

      - name: Push Version Bump Changes
        run: |
          git push origin HEAD
